body {
	background-color: #f3f3f3;
}

navbar-custom {
	background-color: red;
}


.noFile {
	width: 150px;
	height: 50px;	
	}

.messageFadeOut {
	animation: fadeOut 3s;
	width: 500px;
	position: absolute;
}

.noFileFormColor {
	border-color: red;
	border-width: 3px;
	border-style: solid;
}


.help-input {
	width: 90%;	
}

.noSpace {
	position: absolute;
}

.table-main {
	width: 90%;
	margin-left: 100px;
}

.headline {
	text-align: center;
}

/* logFiles */

.deleteAllLogs {
	margin-top: 10px;
	position: absolute;	
  	right: 100px;
}

.table-logfiles {
	left: 50px;
}

.upload-form {
	border: 1px solid black;
	width: 500px;
	margin-left: 100px;
	margin-bottom: 50px;
}

.noBorder {
	border: none;
	border-right: none;
	border-top: none;
}


h1 {
	text-align: center;
}








.disabled-link {
	pointer-events: none;
}

.fade-in {
	animation: fadeIn 3s;
}

.fade-out {
	animation: fadeOut 3s;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

