.noFile {
	width:150px;
	height:50px;	
	}

.messageFadeOut {
	animation: fadeOut 3s;
	width:300px;
	position: absolute;
}

.noFileFormColor {
	border-color: red;
	border-width: 5px;
	border-style: solid;
}


.help-input {
	margin: 20px 20px 20px 20px;
	
}

.noSpace {
	position: absolute;
}












.fade-in {
	animation: fadeIn 3s;
}

.fade-out {
	animation: fadeOut 3s;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

