<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<head>
	<title> Logfile Analyzer - Create new Help </title>		
</head>


<body>	

	<!-- create new Help -->
	<div class="container-fluid help-input">				 
		<form method="POST" action="#" th:action="@{/faq/createHelp}" th:object="${newHelp}">			
			
			<table class="table table-bordered table-striped">			
				<thead>
					<tr>	
						<th>Treffer-Pattern</th>
						<th>Hilfestellung</th>
						<th>Link</th>									
					</tr>					
				</thead>
				
				<tbody>
					<tr>
						<td><textarea th:field="*{regEx}" cols="100" class="form-control" placeholder="Enter Regular Expression"></textarea></td>
						<td><textarea th:field="*{helpText}" cols="300" class="form-control" placeholder="Enter Help Text"></textarea></td>
						<td><input type="text" th:field="*{link}" size="100" class="form-control" placeholder="Enter Link for more Information"/></td>
						
						<td><input class="btn btn-primary" type="submit" value="create Help" /></td>							
					</tr>
				</tbody>
			</table>			
		</form>
	</div>	
	

</body>


</html>