<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<head>
	<title> Logfile Analyzer - FAQ </title>
	
	<!-- Java Script für die Tabellen Ansicht -->
	<link rel ="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script>
		$(document).ready(function() {
		    $('#table_helps').DataTable();
		} );
	</script>
	<!-- ENDE Java Script für die Tabellen Ansicht -->		
</head>


<body>

	<div th:if="${messageSuccess}" class="alert alert-success successMessage" role="alert" th:text="${messageSuccess}"></div>
	<div th:if="${messageError}" class="alert alert-danger" role="alert" th:text="${messageError}"></div>

	<br><br>
	
	<div class="container">
	
		<h1 align="center">FAQ</h1>
		<br>
		
		<table id="table_helps" class="table table-bordered table-striped">
			<thead>
				<tr>					
					<th>ID</th>
					<th>Treffer-Pattern</th>
					<th>Hilfestellung</th>
					<th>Link</th>									
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="help : ${helpList}">					
					<td th:text="${help.id}"></td>
					<td th:text="${help.regEx}"></td>
					<td th:text="${help.helpText}"></td>
					<td th:text="${help.link}"></td>
					<!-- Edit Button -->
					<td>					
						<form method="POST" th:action="@{/faq/updateHelpForm(helpToUpdateId=${help.id})}">
							<button type="submit" name="submit" value="edit" class="btn btn-primary">edit</button>
						</form>					 
					</td>
					<!-- delete Button -->
					<td>
						<form method="POST" th:action="@{/faq/deleteHelp(helpToDeleteId=${help.id})}">
							<button type="submit" name="submit" value="delete" class="btn btn-danger">delete</button>
						</form>
					</td>			
						
				</tr>
			</tbody>
		</table>
		
		<br><br>
		
	</div>
	

	
	<!-- Create Test-Patterns -->
	<div class="container">		
		
		<form method="post" action="#" th:action="@{/faq/createTestPattern}">			        
		    <input type="submit" value="create Test-Patterns" />
		</form>
		
	</div>
	
	<br><br>
	
	<!-- create new Help -->
	<div class="container">		
		<form method="GET" th:action="@{/faq/createHelpForm}">
			<button type="submit" class="btn btn-success">Create New Help</button>
		</form>
	</div>	
	<br>

</body>


</html>