<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>

<head>
	<title> File Analyzer - All Logfile Matches </title>
	
	<!-- Java Script für die Tabellen Ansicht -->
	<link rel ="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script>
		$(document).ready(function() {
		    $('#table_logFileMatches').DataTable();
		} );
	</script>
	<!-- ENDE Java Script für die Tabellen Ansicht -->		
</head>


<body>

	<br><br>
	
	<div class="container">
		
		<table id="table_logFileMatches" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>LogFile ID</th>
					<th>Line Nr</th>
					<th>Line Text</th>
					<th>regEx</th>		
					<th>Help Text</th>
					<th>Help Link</th>
														
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="match : ${logFileMatches}">
					<td th:text="${match.logFileId}"></td>
					<td th:text="${match.lineNr}"></td>
					<td th:text="${match.lineText}"></td>
					<td th:text="${match.help.regEx}"></td>
					<td th:text="${match.help.text}"></td>
					<td th:text="${match.help.link}"></td>		
				</tr>
			</tbody>
		</table>
	
	</div>
	
	<br><br>
	
		

</body>


</html>