<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>




<head>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	 
	<script>
		$(document).ready(function(){
		  $("#box").click(function(){
		    $(this).hide();
		  });
		});
	</script>
	
	<script>
		setTimeout(() => {
		  const box = document.getElementById('box');

		  // hides element (still takes up space on page)
		  box.style.visibility = 'hidden';
		
		  // removes element from DOM
		  //box.style.display = 'none';
		}, 5000); // time in milliseconds

	</script>
	
	
	<!-- 
	<script>

		function showdiv(){
			document.getElementById("successmessage").style.visibility="visible";
		}
		setTimeout("showdiv", 1000);
	
		function hidediv(){
			document.getElementById("successmessage").style.visibility="hidden";
		}
		setTimeout("hidediv", 2000);
	</script>
	 -->
	
</head>

<body>

	<div id="mess" class="container alert alert-success successMessage" style="margin-left: 30px">Success</div>
	
	
	<div id="box" class="container alert alert-success successMessage fade-out" style="margin-left: 30px">Error</div>
	
</body>


</html>