<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: head">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<head>
	<title> Logfile Analyzer - Update Help </title>				
</head>


<body>
	
	<br><br>
  
	<div class="container-fluid help-input">
		
		<h1 class="headline">Update Help</h1>
		<br>
						 
		<form method="POST" action="#" th:action="@{/faq/updateHelp}">
			<input type="hidden" name="helpId" th:value="${id}" readonly />
			
			<table class="table table-bordered table-striped">			
				<thead>
					<tr>					
						<th>ID</th>
						<th>Treffer-Pattern</th>
						<th>Hilfestellung</th>
						<th>Link</th>									
					</tr>					
				</thead>
				
				<tbody>
					<tr>					
						<td th:text="${helpToUpdate.id}"></td>
						<td><textarea id="regExInput" name="regEx" th:text="${regEx}" cols="100" class="form-control"></textarea></td>
						<td><textarea id="helpTestInput" name="helpText" th:text="${helpText}" cols="200" class="form-control"></textarea></td>
						<td><input type="text" name="link" th:value="${link}" size="100" class="form-control" placeholder="Enter Link for more Information"/></td>
						<td><input class="btn btn-primary" type="submit" value="save changes" /></td>							
					</tr>
				</tbody>
			</table>
						
		</form>
	</div>	
	

</body>


</html>