<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<head>
	<title> File Analyzer - Update Help </title>			
</head>


<body>

	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>					
					<th>ID</th>
					<th>Treffer-Pattern</th>
					<th>Hilfestellung</th>
					<th>Link</th>									
				</tr>					
			</thead>
			
			<tbody>
				<tr>					
					<td th:text="${helpToUpdate.id}"></td>
					<td th:text="${helpToUpdate.regEx}"></td>
					<td th:text="${helpToUpdate.helpText}"></td>
					<td th:text="${helpToUpdate.link}"></td>							
				</tr>
			</tbody>
		</table>
	 </div>
	
	 
	<div>
			 
		<form method="POST" action="#" th:action="@{/help/updateHelp}">
			 
			<label>id </label>
		    <input type="text" name="helpId" th:value="${id}" readonly/>
		    <a style="color:#FF0000">not editable</a>
		    <br/>		    
			<label>regEx </label>
		    <input type="text" name="regEx" th:value="${regEx}" />
		     <br/>
		    <label>Help Text </label>
		    <input type="text" name="helpText" th:value="${helpText}" />
		    <br/>
		    <label>link </label>
		    <input type="text" name="link" th:value="${link}" />
		    <br/>  
		    <input type="submit" value="save" />	  
		    
		</form>
	</div>	
	

</body>


</html>