<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>

<head>
	<title> File Uploader - Upload File </title>
	
	<!-- Java Script für die Tabellen Ansicht -->
	<link rel ="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script>
		$(document).ready(function() {
		    $('#table_logFiles').DataTable();
		} );
	</script>
	<!-- ENDE Java Script für die Tabellen Ansicht -->		
</head>


<body>

	<br><br>
	
	<div class="container">
		
		<table id="table_logFiles" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Upload Time</th>
					<th>User</th>
					<th>Info</th>
					<th>Is Scanned</th>
					<th>FAQ Hits</th>					
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="logFile : ${logFilesList}">
					<td th:text="${logFile.id}"></td>
					<td th:text="${logFile.fileName}"></td>					
					<td th:text="${logFile.uploadTime}"></td>
					<td th:text="${logFile.person}"></td>
					<td th:text="${logFile.info}"></td>
					<td th:text="${logFile.isScanned}"></td>
					<!-- <td th:text="${logFile.matches.size()}"></td> -->
					
				</tr>
			</tbody>
		</table>
	
	</div>
	
	<br><br>
	
	<div class="container">
	
		<h2> Upload File </h2>
		<br>
	
		<form method="POST" action="/upload" enctype="multipart/form-data">
		
			<input type="file" name="file" /> <br/><br/>
			<input type="submit" value="upload"/>
			
		</form>
		
	</div>	
	
		

</body>


</html>