<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<div th:insert="baseStructure/header :: header">  </div>

<head>

	<title> File Uploader - Upload Status </title>	
	
</head>


<body>
	
	<br><br>

	<div class="container" th:if="${message}">
		<h2 th:text="${message}"></h2>
		Type: <span th:text="${file_Type}"></span><br>
		Size: <span th:text="${file_Size}"></span><br>		
	</div>
		
	<br><br>
	
	<div class="container">
		<button class="btn btn-secondary" onclick="location.href='http://localhost:10100/scan/latest'">Scan uploaded File</button>
	</div>
	
	<br><br>
	
	<div class="container">
		<button class="btn btn-secondary" onclick="location.href='http://localhost:10100/upload'">Upload another File</button>
	</div>
	

</body>

</html>